/* Empty. Add your own CSS if you like */
.subHeaderStyle{
	font-size: small;
	color: #444;
	font-weight: bold;
}
.card {
	width: auto;
	border-top: solid 3px #00796B !important;
	border-radius: 1px;
}
.card img {
	box-shadow: none;
}
.item-avatar .item-content>img:first-child{
	max-height: 65px;
	max-width: 65px;
}
.bills {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: transparent;
}
.first{
    color:#212121;
    text-transform: uppercase;
}
.second{
    color: #727272;
    font-size: small !important;
}
.card .item.item-avatar {
	padding-left: 10px;
}
.headerprolist{
	min-height: 55px !important;
}
.headerprolist img{
	position: absolute;
	top:8px !important;
}
.headerprolist h2{
	margin-top: 10px;
}