<ion-view view-title="PRODUKTLISTE">

      <a class="item item-avatar bar bar-subheader headerprolist avlist">
                <img src="{{currentBill.providerImage}}">
                <h2>{{currentBill.providerName}}</h2>
                <p class="time">{{currentBill.purchaseDate | date:" MM.dd.yyyy 'at' h:mma"}}</p>
            </a>

  <ion-content class="has-header has-subheader">

             <div class="list list-inset">
              <a class="item item-avatar item-icon-right avlist" href="#/app/bills/{{currentBill._id}}/{{product.itemId}}" ng-repeat="product in products" ng-click="passProduct(product)">
                <img ng-src="{{product.itemImage}}">
                <h2>{{product.itemName}} <span class="pull-right">{{product.itemPrice}} EUR</span></h2>
                <p class="time">Verfallsdatum :{{product.itemLastDate | date: " MM.dd.yyyy"}} <span class="pull-right">{{product.itemAmount}} {{product.itemUnits}}</span></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </a>
            </div>
    
  </ion-content>
</ion-view>